


ion-searchbar.custom{
  --icon-color:#6EB943;
  --box-shadow:#F0F0F0;
}


ion-icon.fav{
  border-radius: 50px;
  color:#6EB943;
  background-color: blue;
  offset: 0px, 2px rgba(0, 0, 0, 0.05)
}

.sett{
  z-index: 10;
  margin-left:-50px;
  color:#6EB943
}
